.faq li { padding: 20px; }

.faq li.bd-faq-question {
    background: #4FC2E;
    cursor: pointer;
}

.faq li.bd-faq-answer {
    background: #3BB0D6;
    display: none;
    color:#fff;
}

.rotate {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.faq .bd-faq-question img {
    display: inline-block;
}

.bd-faq-button{
    display: inline-block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 8px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: lightslategray; /* White text color */
}

.bd-faq-button:hover{
    background-color: rgba(187, 187, 175, 0.28); /* Add a hover color */
}

.bigdropfaq-active {
    background-color: #4CAF50; /* Add an active/current color */
}

.bd-faq {
    display: none;
}

.bd-faq-icon {
    max-height: 80px;
    max-width: 100px;
}