<?php
/**
 * Module adds FAQ section
 *
 * @category   Bigdrop
 * @package    Bigdrop_FAQ
 * @author     Stanislav Lebedev <stanislav.lebedev@bigdropinc.com>
 */

/**
 * @var $this Bigdrop_FAQ_Block_View
 */
$_groups = $this->getGroupCollection();
?>


<?php if ($_groups) : ?>
<!--output groups-->
    <?php foreach ($_groups as $group) : ?>
        <?php $groupId = $group->getId(); ?>
        <div class="bd-faq-button" data-group-id="<?php echo $groupId; ?>">
            <img class="bd-faq-icon" src="<?php echo $this->getIconsPath($group); ?>" alt="<?php echo $group->getName(); ?>">
            <?php echo $group->getName(); ?>
        </div>
    <?php endforeach; ?>
<!--    output questions for particular groups-->
    <?php foreach ($_groups as $group) : ?>
        <?php $groupId = $group->getId(); ?>
        <?php if ($questionsByGroup = $this->getQuestionsByGroup($groupId)) : ?>
            <div class="block-title bd-faq group-<?php echo $groupId; ?>">
                <h5><?php echo $group->getName() ?></h5>
                <ul class="faq">
                <?php foreach ($questionsByGroup as $question) : ?>
                        <li class="bd-faq-question">
                            <img src="<?php echo $this->getArrowImage() ?>">
                            <?php echo $question->getTitle() ?>
                        </li>
                        <li class="bd-faq-answer">
                            <?php echo $question->getContent() ?>
                        </li>
                <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
<?php endif; ?>
