<?php
/**
 * Module creates new product type "Training Video"
 *
 * @category   Bigdrop
 * @package    Bigdrop_TrainingVideo
 * @author     Stanislav Lebedev <stanislav.lebedev@bigdropinc.com>
 */

/* @var $this Mage_Catalog_Block_Product_View */
?>
<?php $_product = $this->getProduct(); ?>
<?php $isLoggedIn = Mage::helper('bd_training_video')->isLoggedIn(); ?>
<?php if($_product->isSaleable()): ?>
    <div class="add-to-cart">
        <div class="add-to-cart-buttons">
            <?php if($isLoggedIn) : ?>
            <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?></span></span></button>
            <?php echo $this->getChildHtml('', true, true) ?>
            <?php else : ?>
            <a type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Log In')); ?>" class="button btn-cart" href="<?php echo $this->getUrl('customer/account/login/') ?>"><span><span><?php echo Mage::helper('core')->quoteEscape($this->__('Log In')); ?></span></span></a>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
