<?php
/**
 * Module creates new product type "Training Video"
 *
 * @category   Bigdrop
 * @package    Bigdrop_TrainingVideo
 * @author     Stanislav Lebedev <stanislav.lebedev@bigdropinc.com>
 *
 * @var $this Bigdrop_TrainingVideo_Block_Pagination
 */
?>

<?php $collection = $this->getCollection();  ?>
    <div class="page-title">
        <h1><?php echo $this->__('My Videos') ?></h1>
    </div>
<?php echo $this->getToolbarHtml(); ?>
    <table class="data-table" id="my-custom-table">
        <thead>
        <tr>
            <th></th>
            <th><?php echo $this->__('Title') ?></th>
            <th><?php echo $this->__('Description') ?></th>
            <th><?php echo $this->__('Runtime') ?></th>
            <th><?php echo $this->__('Type') ?></th>
        </tr>
        </thead>
        <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($collection as $item): ?>
            <tr>
                <td>
                    <div class="block block-video video-wrapper">
                        <iframe width="auto" height="auto" src="<?php echo $this->getMainVideoUrl($item->getMainVideoUrl()) ?>" frameborder="0" allowfullscreen></iframe>
                    </div>
                </td>
                <td><?php echo $item->getName(); ?></td>
                <td><?php echo $item->getDescription(); ?></td>
                <td><?php echo $item->getRuntime(); ?></td>
                <td><?php echo $item->getAttributeText('type'); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php echo $this->getToolbarHtml(); ?>